<head>
  <link rel="stylesheet"href="assets/css/bootstrap.min.css">
  <script src="../assets/js/jquery.min.js"></script>
  <script src="../assets/js/vue.js"></script>
</head>
<h3>VueJS Basics</h3>

<div id="noel-app">
  {{ message }}
  <p>
    <span v-bind:title="placeholder">
          <span v-if='seen'>Almost </span>Hover me
    </span>
  </p>
  <p><button v-on:click="updatePlaceholder">Update Placeholder</button></p>

  <ul>
    <emp-item v-for="item in employees" v-bind:emp="item" v-bind:key="item.id">
    </emp-item>

  </ul>

</div>


<div id="app">
  {{ message }}
</div>

<div id="app-2">
  <span v-bind:title="message">
    Hover your mouse over me for a few seconds
    to see my dynamically bound title!
  </span>
</div>

<div id="app-4">
  <ol>
    <li v-for="todo in todos">
      {{ todo.text }}
    </li>
  </ol>
</div>

<div id="app-5">
  <p>{{ message }}</p>
  <button v-on:click="reverseMessage">Reverse Message</button>
</div>

<div id="app-7">
  <ul>
    <!--
      Now we provide each todo-item with the todo object
      it's representing, so that its content can be dynamic.
      We also need to provide each component with a "key",
      which will be explained later.
    -->
    <todo-item v-for="item in groceryList" v-bind:todo="item" v-bind:key="item.id">
    </todo-item>
  </ul>
</div>

<script>

// list components first
 Vue.component('emp-item', {
    props: ['emp'],
    template: '<li>{{ emp.text }}</li>'
  })

 Vue.component('todo-item', {
    props: ['todo'],
    template: '<li>{{ todo.text }}</li>'
  })

  var noelapp = new Vue({
    el: '#noel-app',
    data: {
      message: 'Hello Noel!',
      placeholder: "Hover nga!",
      seen: false,
      employees: [
        { id: 0, text: 'Noel' },
        { id: 1, text: 'Gail' },
        { id: 2, text: 'Yenyen' }
      ]
    },
    methods: {
      updatePlaceholder: function() {
        this.placeholder += " Hello world "
      }
    }
  })

 
  var app = new Vue({
    el: '#app',
    data: {
      message: 'Hello Vue!'
    }
  })

  var app2 = new Vue({
    el: '#app-2',
    data: {
      message: 'You loaded this page on ' + new Date().toLocaleString()
    }
  })

  var app4 = new Vue({
    el: '#app-4',
    data: {
      todos: [
        { text: 'Learn JavaScript' },
        { text: 'Learn Vue' },
        { text: 'Build something awesome' }
      ]
    }
  })

  var app5 = new Vue({
    el: '#app-5',
    data: {
      message: 'Hello Vue.js!'
    },
    methods: {
      reverseMessage: function() {
        this.message = this.message.split('').reverse().join('')
      }
    }
  })


  var app7 = new Vue({
    el: '#app-7',
    data: {
      groceryList: [
        { id: 0, text: 'Vegetables' },
        { id: 1, text: 'Cheese' },
        { id: 2, text: 'Whatever else humans are supposed to eat' }
      ]
    }
  })
</script>
